body {
  background-image: url("images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Open Sans Condensed", sans-serif;
}

img {
  border-color: grey;
}

.ig-link {
  color: black;
  font-weight: bold;
  font-size: large;
}

.btn {
  background-color: black;
}

.btn-outline {
  color: white;
}
